.nav {
    background-color: var(--color-light-white);
    padding: 30px 0;
    margin: 20px 0;
}

.nav-row {
    display: flex;
    align-items: center;
}

.nav-menus {
    margin-left: auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.nav-link {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-dark-blue);
    text-decoration: none;
}

.nav-btns {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


